<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户中心Big_ormosia 大红豆官网 - 大红豆服饰官方购物商城 - Powered by Big_ormosia</title>
    <link href="/static/index/css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/top.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/user_clips.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/layer.css" rel="stylesheet" type="text/css">
    <!--    <link href="/static/index/css/top.css" rel="stylesheet" type="text/css">-->

</head>
<body>
<div class="user_box">
    <div class="u_header">

        <div class="box_right">


            <style type="text/css">
                /******/
                .consignee_area {
                    height: 20px;
                    line-height: 20px;
                    vertical-align: middle;
                }

                .consignee_area span {
                    padding-left: 5px;
                    height: 20px;
                    display: block;
                    border: 1px solid #CCC;
                    line-height: 20px;
                    vertical-align: middle;
                    background-color: #FFF;
                    margin-right: 5px;
                    cursor: pointer;
                    float: left;
                    position: relative;
                }

                .consignee_area i {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background: url(themes/tonlion/images/lehome_ico.png) no-repeat -280px -1px;
                    line-height: 20px;
                    vertical-align: middle;
                    padding: 0px;
                    top: 0px;
                    margin-left: 5px;
                }

                .area_list_none {
                    display: none;
                }

                .consignee_area div {
                    width: 420px;
                    position: absolute;
                    left: -1px;
                    top: 20px;
                    background: #fff;
                    display: block;
                    z-index: 1000;
                    display: none;
                    border: 1px solid #CCC;
                }

                .consignee_area div ul {
                    overflow: hidden;
                    padding-bottom: 5px;
                    padding-top: 5px;
                }

                .consignee_area div ul li {
                    display: inline-block;
                    height: 20px;
                    vertical-align: middle;
                    width: 69px;
                    text-align: center;
                }

                .consignee_area .red {
                    color: #F00
                }

                .consignee_area .reds {
                    color: #F00;
                }

                .consignee_area .un_select {
                    padding: 10px;
                    height: 20px;
                    vertical-align: middle;
                    line-height: 20px;
                }


            </style>
            <script language="javascript">
                $(function () {
                    $("#newAddr").click(function () {
                        $.ajax({
                            type: "post",
                            dataType: "json",
                            url: "userAddress.php",
                            data: "step=newAddr",
                            success: function (msg) {

                                $("#addr_text").html(msg);

                            }
                        })
                    });
                });

            </script>
            <div class="tbl-address_list">
                <table class="tbl-main" cellspacing="0" cellpadding="0" border="0">
                    <caption>已保存的有效地址<a id="newAddr"><strong>添加新地址</strong></a></caption>
                    <colgroup>
                        <col class="col-man">
                        <col class="col-area">
                        <col class="col-address">
                        <col class="col-postcode">
                        <col class="col-phone">
                        <col class="col-actions">
                    </colgroup>
                    <thead>
                    <tr class="thead-tbl-grade">
                        <th>收货人</th>
                        <th>所在地区</th>
                        <th>街道地址</th>
                        <th>邮编</th>
                        <th>电话/手机</th>
                        <th></th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="addr_list">
                    <script language="javascript">
                        /***********编辑、删除地址***************/
                        $(function () {
                            $('#addr_list  a[class="blue j_consignee_edit"],#addr_list  a[class="j_consignee_del"]').click(function () {

                                var infos = new Object();

                                id = $(this).attr("data-id");

                                if ($(this).attr("class") == "blue j_consignee_edit") {

                                    $.ajax({
                                        type: "post",
                                        dataType: "json",
                                        url: "userAddress.php",
                                        data: "step=editAddr_user" + "&id=" + id,
                                        success: function (msg) {
                                            ///还需要把点中的表选择
                                            $("#addr_text").html(msg['message']);

                                        }
                                    })
                                } else if ($(this).attr("class") == "j_consignee_del") {

                                    $.ajax({
                                        type: "post",
                                        dataType: "json",
                                        url: "userAddress.php",
                                        data: "step=deleteAddr" + "&id=" + id,
                                        success: function (msg) {
                                            if (msg['box'] == 'list') {
                                                $("#address_form").html("");
                                                $("#address_form").hide();
                                                $("#addr_list").html(msg['message']);
                                                $("#addr_list").show();
                                                $("#wl_div").hide();
                                                currnt_add_id = 0;
                                                currnt_wl_id = 0
                                                currnt_wl_id_flag = 0;
                                                showInputValue();
                                                delTr();
                                                //getConsigneeChecked();
                                                // showShipping();
                                            } else {
                                                $("#addr_list").html("");
                                                $("#otherAddress").html("");
                                                $("#addr_list").hide();
                                                $("#address_form").html(msg['message']);
                                                $("#address_form").show();
                                                currnt_add_id = 0;
                                                currnt_wl_id = 0
                                                currnt_wl_id_flag = 0;
                                                showInputValue();
                                                delTr();
                                            }
                                        }
                                    })
                                }
                            });
                        })
                        $(function () {
                            $("#addr_list li").hover(
                                function () {
                                    $(this).children(".gayBG").addClass("backBG");
                                },
                                function () {
                                    $(this).children(".gayBG").removeClass("backBG");
                                }
                            );
                        })
                    </script>

                    </tbody>
                </table>
                <p class="tbl-attach">最多保存5个有效地址</p></div>
            <div id="addr_text">
                <form action="user_address.php" name="myAddress" id="myAddress">
                    <table class="edit-form">
                        <tbody>
                        <tr>
                            <th><span class="red">*</span> 收 货 人：</th>
                            <td>
                                <input type="text" name="realname" class="f_inputTxt" value="" size="40" maxlength="20"
                                       id="input_realname">
                            </td>
                        </tr>
                        <tr>
                            <th><span class="red">*</span> 省 市 区：</th>
                            <td>
                                <div class="consignee_area"><span id="province" pereantid="1"
                                                                  currentid=""><p>请选择省份<i></i></p><div
                                        id="province_html">
            </div></span>
                                    <span id="city" pereantid="" currentid=""><p>请选择城市<i></i></p><div id="city_html">
            </div></span>
                                    <span id="district" pereantid="" currentid=""><p>请选择地区<i></i></p><div
                                            id="district_html" style="display: none;"> <p class="un_select">请选择上一级</p>
</div></span>
                                </div>
                                <script type="text/javascript" src="/static/index/js/saved_resource">

                                </script>
                                <script language="javascript">
                                    $(function () {

                                        //省市地区
                                        $(".consignee_area span").hover(
                                            function () {
                                                if ($(this).attr("id") == "province") {
                                                    $.ajax({
                                                        type: "post",
                                                        dataType: "json",
                                                        url: "flow.php",
                                                        data: "step=getAddres&pereantId=" + $(this).attr("pereantId") + "&currentId=" + $(this).attr("currentId"),
                                                        success: function (msg) {
                                                            $("#province_html").html(msg);
                                                        }
                                                    })
                                                    //$(this).children("div").html();
                                                } else if ($(this).attr("id") == "city") {
                                                    $.ajax({
                                                        type: "post",
                                                        dataType: "json",
                                                        url: "flow.php",
                                                        data: "step=getAddres&pereantId=" + $(this).attr("pereantId") + "&currentId=" + $(this).attr("currentId"),
                                                        success: function (msg) {
                                                            $("#city_html").html(msg);
                                                        }
                                                    })
                                                } else if ($(this).attr("id") == "district") {
                                                    $.ajax({
                                                        type: "post",
                                                        dataType: "json",
                                                        url: "flow.php",
                                                        data: "step=getAddres&pereantId=" + $(this).attr("pereantId") + "&currentId=" + $(this).attr("currentId"),
                                                        success: function (msg) {
                                                            $("#district_html").html(msg);
                                                        }
                                                    })
                                                }
                                                $(this).children("div").show();
                                            },
                                            function () {
                                                $(this).children("div").hide();
                                            }
                                        )
                                        /////保存
                                        var obj = new Object();
                                        obj = $("#addr_text input");
                                        var flag = ""
                                        var str = "";
                                        $("#saveAddress").click(function () {


                                            var myValue = "";
                                            var isMobile = /^(?:13\d|15\d|17\d|18\d)\d{5}(\d{3}|\*{3})$/;  //手机
                                            var isPhone = /^((0\d{2,3})-)?(\d{7,8})(-(\d{3,}))?$/;//电话
                                            var reg = /^[0-9]{6}$/;
                                            obj.each(function () {
                                                myValue = $(this).attr("value");

                                                if ($(this).attr("name") == "realname") {
                                                    if (!myValue) {
                                                        //layer.tips('请填写收货人姓名' , this , 3)
                                                        alert("请填写收货人姓名");
                                                        flag = false;
                                                        return false;
                                                    }
                                                } else if ($(this).attr("name") == "province") {
                                                    if (myValue < 1 || !myValue) {
                                                        alert("请填写省份");
                                                        $("#province").focus();
                                                        flag = false;
                                                        return false;
                                                    }
                                                } else if ($(this).attr("name") == "city") {
                                                    if (myValue < 1 || !myValue) {
                                                        alert("请选择城市");
                                                        $("#city").focus();
                                                        flag = false;
                                                        return false;
                                                    }
                                                } else if ($(this).attr("name") == "address") {
                                                    if (myValue < 1 || !myValue) {
                                                        alert("请填完整的收货地址");
                                                        $(this).focus();
                                                        flag = false;
                                                        return false;
                                                    }
                                                } else if ($(this).attr("name") == "postcode") {
                                                    if (myValue && !reg.test(myValue)) {
                                                        alert("邮政编码不对");
                                                        $(this).focus();
                                                        flag = false;
                                                        return false;
                                                    }
                                                } else if ($(this).attr("name") == "mobile") {
                                                    if (myValue) {
                                                        if (!isMobile.test(myValue)) {
                                                            alert("手机格式不对");
                                                            $(this).focus();
                                                            flag = false;
                                                            return false;
                                                        }
                                                    } else {
                                                        if (!$("#input_phone").attr("value")) {
                                                            alert("手机号码和电话要填写一个");
                                                            $(this).focus();
                                                            flag = false;
                                                            return false;
                                                        }
                                                    }
                                                } else if ($(this).attr("name") == "phone") {
                                                    if (myValue) {
                                                        if (!isPhone.test(myValue)) {
                                                            alert('电话号码格式：区号-电话号码！')
                                                            $(this).focus();
                                                            flag = false;
                                                            return false;
                                                        }
                                                    } else {
                                                        if (!$("#input_mobile").attr("value")) {
                                                            alert('电话号码和电话必须要填写一个哦！')
                                                            $(this).focus();
                                                            flag = false;
                                                            return false;
                                                        }
                                                    }
                                                } else if ($(this).attr("name") == "email") {
                                                    if (myValue) {
                                                        if (!$(this).val().match(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/)) {
                                                            alert('邮件格式不对哦？')
                                                            $(this).focus();
                                                            flag = false;
                                                            return false;
                                                        }
                                                    }
                                                } else {
                                                    flag = true;

                                                }
                                            })
                                            if (flag) {

                                                //str=""+
                                                $.ajax({
                                                    type: "post",
                                                    dataType: "json",
                                                    url: "userAddress.php",
                                                    data: "step=addAddres_user&username=" + $("#input_realname").attr("value") + "&province=" + $("#input_province").attr("value") + "&city=" + $("#input_city").attr("value") + "&district=" + $("#input_district").attr("value") + "&address=" + $("#input_address").attr("value") + "&postcode=" + $("#input_postcode").attr("value") + "&mobile=" + $("#input_mobile").attr("value") + "&phone=" + $("#input_phone").attr("value") + "&email=" + $("#input_email").attr("value") + "&act=" + $("#input_act").attr("value") + "&old_id=" + $("#input_old_id").attr("value"),
                                                    success: function (msg) {

                                                        $("#addr_list").html(msg['message']);

                                                        //getConsigneeChecked();
                                                        ///showShipping();
                                                        //alert(msg);
                                                    }
                                                })
                                            }
                                        });
                                        ////结束
                                    });
                                </script>
                                <input type="hidden" name="province" id="input_province" value="">
                                <input type="hidden" name="city" id="input_city" value="">
                                <input type="hidden" name="district" id="input_district" value="">
                                <p class="msg"></p>
                            </td>
                        </tr>
                        <tr>
                            <th><span class="red">*</span> 详细地址：</th>
                            <td>
                                <input type="text" name="address" class="f_inputTxt" value="" size="60" maxlength="100"
                                       id="input_address" data-tip="input_address_tip">
                                <span class="input_address_tip red" style="display:none;">请填写正确的详细地址，确保准确送达</span>
                            </td>
                        </tr>
                        <tr>
                            <th><span class="red"></span> 邮政编码：</th>
                            <td>
                                <input type="text" name="postcode" value="" size="12" class="f_inputTxt" maxlength="6"
                                       id="input_postcode">
                            </td>
                        </tr>
                        <tr>
                            <th><span class="red">*</span> 手机号码：</th>
                            <td>
                                <input type="text" name="mobile" id="input_mobile" value="" size="30" maxlength="20"
                                       placeholder="固定电话和手机中必填一项" class="f_inputTxt">    固定电话：<input type="text"
                                                                                                     name="phone"
                                                                                                     value="" size="30"
                                                                                                     maxlength="20"
                                                                                                     placeholder="固定电话和手机中必填一项"
                                                                                                     id="input_phone"
                                                                                                     class="f_inputTxt"
                                                                                                     data-tip="input_phone_tip">
                                <span class="red input_phone_tip" style="display:none;">请按格式填写：区号-电话号码-分机号</span>
                            </td>

                        </tr>
                        <tr>
                            <th>收件邮箱：</th>
                            <td><input type="text" name="email" class="f_inputTxt" value="" size="40" maxlength="80"
                                       id="input_email"> <span class="gray input_email_tip">用于接收订单状态提醒邮件</span></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <div class="btns clearfix">
                                    <input type="hidden" name="act" id="input_act" value="">
                                    <input type="hidden" name="old_id" id="input_old_id" value="">
                                    <a class="j_consignee_update btn-ok" href="javascript:void(0);" id="saveAddress">确认收货人信息</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>

        </div>
    </div>
</div>

</body>
</html>












