<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户中心Big_ormosia 大红豆官网 - 大红豆服饰官方购物商城 - Powered by Big_ormosia</title>
    <link href="/static/index/css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/top.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/user_clips.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/layer.css" rel="stylesheet" type="text/css">
    <!--    <link href="/static/index/css/top.css" rel="stylesheet" type="text/css">-->

</head>
<body>
<div class="user_box">
    <div class="u_header">


        <div class="box_right">


            <link href="/static/index/css/style.css" rel="stylesheet" type="text/css">
            <script type="text/javascript" src="/static/index/js/utils.js"></script>
            <script type="text/javascript">
                var bonus_sn_empty = "请输入您要添加的红包号码！";
                var bonus_sn_error = "您输入的红包号码格式不正确！";
                var email_empty = "请输入您的电子邮件地址！";
                var email_error = "您输入的电子邮件地址格式不正确！";
                var old_password_empty = "请输入您的原密码！";
                var new_password_empty = "请输入您的新密码！";
                var confirm_password_empty = "请输入您的确认密码！";
                var both_password_error = "您现两次输入的密码不一致！";
                var msg_blank = "不能为空";
                var no_select_question = "- 您没有完成密码提示问题的操作";
            </script>
            <style type="text/css">
                #user-profile {
                    border: 4px solid #f1faff;
                    background-color: #fff;
                }

                #user-profile tr {
                    height: 30px;
                    line-height: 30px;
                    vertical-align: middle;
                }

                #user-profile tr td {
                    height: 25px;
                    line-height: 25px;
                    vertical-align: middle;
                    padding: 2px 5px 2px 5px;
                }

            </style>
            <div id="user-profile'">
                <div class="blank"></div>
                <form name="formEdit" action="user.php" method="post" onsubmit="return userEdit()">
                    <table width="100%" cellspacing="1" cellpadding="5" border="0" bgcolor="#dddddd">
                        <tbody>

                        <tr>
                            <td width="28%" bgcolor="#FFFFFF" align="right">性　别：</td>
                            <td width="72%" bgcolor="#FFFFFF" align="left"><input type="radio" name="sex" value="0"
                                                                                  checked="checked">
                                保密&nbsp;&nbsp;
                                <input type="radio" name="sex" value="1">
                                男&nbsp;&nbsp;
                                <input type="radio" name="sex" value="2">
                                女&nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td width="28%" bgcolor="#FFFFFF" align="right">电子邮件地址：</td>
                            <td width="72%" bgcolor="#FFFFFF" align="left"><input name="email" type="text" value=""
                                                                                  size="25" class="inputBg"><span
                                    style="color:#FF0000"> *</span></td>
                        </tr>



                        <tr>
                            <td id="extend_field5i" width="28%" bgcolor="#FFFFFF" align="right">手机：</td>
                            <td width="72%" bgcolor="#FFFFFF" align="left">
                                <input name="extend_field5" type="text" class="inputBg" value=""><span
                                    style="color:#FF0000"> *</span></td>
                        </tr>
                        <tr>
                            <td width="28%" bgcolor="#FFFFFF" align="right">密码提示问题：</td>
                            <td width="72%" bgcolor="#FFFFFF" align="left">
                                <select name="sel_question">
                                    <option value="0">请选择密码提示问题</option>
                                    <option value="friend_birthday">我最好朋友的生日？</option>
                                    <option value="old_address">我儿时居住地的地址？</option>
                                    <option value="motto">我的座右铭是？</option>
                                    <option value="favorite_movie">我最喜爱的电影？</option>
                                    <option value="favorite_song">我最喜爱的歌曲？</option>
                                    <option value="favorite_food">我最喜爱的食物？</option>
                                    <option value="interest">我最大的爱好？</option>
                                    <option value="favorite_novel">我最喜欢的小说？</option>
                                    <option value="favorite_equipe">我最喜欢的运动队？</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td id="passwd_quesetion" width="28%" bgcolor="#FFFFFF" align="right">密码问题答案：</td>
                            <td width="72%" bgcolor="#FFFFFF" align="left">
                                <input name="passwd_answer" type="text" size="25" class="inputBg" maxlengt="20"
                                       value=""><span style="color:#FF0000"> *</span></td>
                        </tr>
                        <tr>
                            <td colspan="2" bgcolor="#FFFFFF" align="center"><input name="act" type="hidden"
                                                                                    value="act_edit_profile">
                                <input name="submit" type="submit" value="确认修改" class="bnt_blue_1" style="border:none;">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
                <form name="formPassword" action="user.php" method="post" onsubmit="return editPassword()">
                    <table width="100%" cellspacing="1" cellpadding="5" border="0" bgcolor="#dddddd">
                        <tbody>
                        <tr>
                            <td width="28%" bgcolor="#FFFFFF" align="right">原密码：</td>
                            <td width="76%" bgcolor="#FFFFFF" align="left"><input name="old_password" type="password"
                                                                                  size="25" class="inputBg"></td>
                        </tr>
                        <tr>
                            <td width="28%" bgcolor="#FFFFFF" align="right">新密码：</td>
                            <td bgcolor="#FFFFFF" align="left"><input name="new_password" type="password" size="25"
                                                                      class="inputBg"></td>
                        </tr>
                        <tr>
                            <td width="28%" bgcolor="#FFFFFF" align="right">确认密码：</td>
                            <td bgcolor="#FFFFFF" align="left"><input name="comfirm_password" type="password" size="25"
                                                                      class="inputBg"></td>
                        </tr>
                        <tr>
                            <td colspan="2" bgcolor="#FFFFFF" align="center"><input name="act" type="hidden"
                                                                                    value="act_edit_password">
                                <input name="submit" type="submit" class="bnt_blue_1" style="border:none;" value="确认修改">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>


        </div>
    </div>
</div>

</body>
</html>












