<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户中心Big_ormosia 大红豆官网 - 大红豆服饰官方购物商城 - Powered by Big_ormosia</title>
    <link href="/static/index/css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/top.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/user_clips.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/layer.css" rel="stylesheet" type="text/css">
    <!--    <link href="/static/index/css/top.css" rel="stylesheet" type="text/css">-->

</head>
<body>
<div class="box_right">

    <form name="formPassword" action="user.php" method="post" onsubmit="return editPassword()">
        <table width="100%" cellspacing="1" cellpadding="5" border="0" bgcolor="#dddddd">
            <tbody>
            <tr>
                <td width="28%" bgcolor="#FFFFFF" align="right">原密码：</td>
                <td width="76%" bgcolor="#FFFFFF" align="left"><input name="old_password" type="password"
                                                                      size="25" class="inputBg"></td>
            </tr>
            <tr>
                <td width="28%" bgcolor="#FFFFFF" align="right">新密码：</td>
                <td bgcolor="#FFFFFF" align="left"><input name="new_password" type="password" size="25"
                                                          class="inputBg"></td>
            </tr>
            <tr>
                <td width="28%" bgcolor="#FFFFFF" align="right">确认密码：</td>
                <td bgcolor="#FFFFFF" align="left"><input name="comfirm_password" type="password" size="25"
                                                          class="inputBg"></td>
            </tr>
            <tr>
                <td colspan="2" bgcolor="#FFFFFF" align="center"><input name="act" type="hidden"
                                                                        value="act_edit_password">
                    <input name="submit" type="submit" class="bnt_blue_1" style="border:none;" value="确认修改">
                </td>
            </tr>
            </tbody>
        </table>
    </form>


</div>

</body>
</html>












