<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户中心Big_ormosia 大红豆官网 - 大红豆服饰官方购物商城 - Powered by Big_ormosia</title>
    <link href="/static/index/css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/top.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/user_clips.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/layer.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/index/js/saved_resource"></script>
    <script type="text/javascript" src="/static/index/js/jq.from.main.js"></script>

</head>
<body>


<div class="user_box">
    <div class="u_header">

        <div class="box_right">


            <link href="/static/index/css/style.css" rel="stylesheet" type="text/css">
            <script type="text/javascript" src="/static/index/js/utils.js"></script>

            <div id="user-profile'">
                <div class="blank"></div>
                <form class="pic_info">
                    <h3>头像设置</h3>
                    <div class="form-group">
                        <label class="label01">当前图像：</label>
                        <img style="height: 250px ; width: 250px" src="{{ user.avatar_url }}" alt="用户图片" class="now_user_pic">
                    </div>
                    <div class="form-group">
                        <label>上传图像：</label>
                        <input type="file" name="avatar" class="input_file">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="保 存" class="input_sub">
                    </div>
                </form>
            </div>

        </div>
        </div>
    </div>
</body>


<script>
    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }


    $(function () {
        $(".pic_info").submit(function (e) {
            // 阻止表单默认提交行为
            e.preventDefault();
            //TODO 上传头像
            // 模拟表单的提交
            $(this).ajaxSubmit({

                url: '/user/user_avatar',
                type: 'post',
                headers: {
                    'X-CSRFToken': getCookie('csrf_token')
                },

                success: function (resp) {
                    if (resp.errno == '0') {
                        // `上传头像`成功
                        // 获取上传头像的完整的url地址
                        var avatar_url = resp.avatar_url;
                        // 设置页面上用户头像img的src属性
                        // $(".now_user_pic").attr("src", avatar_url);
                        // // 设置父窗口中用户头像img的src属性
                        // $(".user_center_pic>img", parent.document).attr("src", avatar_url);
                        // $(".user_login>img", parent.document).attr("src", avatar_url);
                    } else {
                        // `上传头像`失败
                        alert(resp.errmsg);
                    }
                }
            })


        })
    });


</script>
</html>












