<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户中心Big_ormosia 大红豆官网 - 大红豆服饰官方购物商城 - Powered by Big_ormosia</title>
    <link href="/static/index/css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/top.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/user_clips.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/layer.css" rel="stylesheet" type="text/css">
    <!--    <link href="/static/index/css/top.css" rel="stylesheet" type="text/css">-->

</head>
<body>
<div class="user_box">
    <div class="u_header">


        <div class="box_right">


            <script type="text/javascript" src="/static/index/js/transport.js"></script>
            <script type="text/javascript" src="/static/index/js/utils.js"></script>
            <h5><span>我的收藏</span></h5>
            <div class="blank"></div>
            <style type="text/css">
                .order_lists tr {
                    height: 30px;
                    line-height: 30px;
                    vertical-align: middle;
                }

                .order_lists tr td {
                    height: 25px;
                    line-height: 25px;
                    vertical-align: middle;
                    padding: 2px 5px 2px 5px;
                }
            </style>
            <table class="order_lists" width="100%" cellspacing="1" cellpadding="5" border="0" bgcolor="#dddddd">
                <tbody>
                <tr align="center">
                    <th width="35%" bgcolor="#ffffff">商品名称</th>
                    <th width="30%" bgcolor="#ffffff">价格</th>
                    <th width="35%" bgcolor="#ffffff">操作</th>
                </tr>
                </tbody>
            </table>

            <form name="selectPageForm" action="/user.php" method="get">


                <div id="pager" class="pagebar">
                    <span class="f_l f6" style="margin-right:10px;">总计 <b>0</b>  个记录</span>

                </div>


            </form>
            <script type="Text/Javascript" language="JavaScript">
                <!--

                function selectPage(sel) {
                    sel.form.submit();
                }

                //-->
            </script>
            <div class="blank5"></div>


        </div>
    </div>


</div>


</body>
</html>












