<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户中心Big_ormosia 大红豆官网 - 大红豆服饰官方购物商城 - Powered by Big_ormosia</title>
    <link href="/static/index/css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/top.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/user_clips.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/layer.css" rel="stylesheet" type="text/css">
    <!--    <link href="/static/index/css/top.css" rel="stylesheet" type="text/css">-->

</head>
<body>
<div class="user_box">
    <div class="u_header">
      <div class="box_right">
                    <h5><span>我的评论</span></h5>
          <div class="blank"></div>

<!--          从数据库查数据 , 单独的评论表, 每一条评论都是一个数据-->
<!--          如果没有平路显示      暂时没有任何用户评论      -->
<!--          如果有 显示真实的 评论数      (以及后面的分页优化,参考xinjingzixun_2020)-->
                              暂时还没有任何用户评论

  </div>

    </div>
</div>
</body>
</html>












