<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户中心Big_ormosia 大红豆官网 - 大红豆服饰官方购物商城 - Powered by Big_ormosia</title>
    <link href="/static/index/css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/top.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/user_clips.css" rel="stylesheet" type="text/css">
    <link href="/static/index/css/layer.css" rel="stylesheet" type="text/css">
    <!--    <link href="/static/index/css/top.css" rel="stylesheet" type="text/css">-->

</head>
<body>
<div class="user_box">
    <div class="u_header">

        <div class="box_right">
            <!--            <h2>您好，13131402834 ，欢迎您来到大红豆购物商城！</h2>-->

            <div class="conent_left">
                <H1>{{user.nick_name}} ，欢迎您来到大红豆购物商城！</H1>
                <p>您的上一次登录时间: <span>{{user.last_login}}</span></p>
                <p>您的级别:暂时没有该功能</p>
                <dl>
                    <dt>交易提醒：</dt>
                    <dd>待支付(0)</dd>
                    <dd>已发货(0)</dd>
                    <dd>待评价(0)</dd>
                </dl>
                <dl>
                    <dt>账号提醒：</dt>
                    <dd>退换货(0)</dd>
                    <dd>咨询留言(0)</dd>
                    <dd>优惠券(0)</dd>
                </dl>
            </div>
            <div class="conent_right">
                <dl>
                    <dt>热门促销活动</dt>
                    <dd><a href="topic.php?topic_id=1" target="_blank">牛仔系列促销活动</a></dd>
                    <dd><a href="topic.php?topic_id=2" target="_blank">休闲裤促销活动</a></dd>
                    <dd><a href="topic.php?topic_id=3" target="_blank">秋装外套活动</a></dd>
                </dl>
            </div>
            <div class="clear"></div>

        </div>
    </div>
</div>
</body>
</html>












