
/* CSS Document */

.clear {
	height: 0px; line-height: 0; overflow: hidden; clear: both; font-size: 0px; display: block;
}

/******/
.cwrap {
	font: 12px/normal "Microsoft YaHei", Tahoma, Helvetica, Sans-Serif; margin: 0px auto; width: 1130px; height: auto; overflow: hidden; font-size-adjust: none; font-stretch: normal;
}
 
#cate_left {
	width: 180px; float: left;
}
.cate_tree {
	background: rgb(255, 255, 255); border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(221, 221, 221) rgb(221, 221, 221) currentColor; border-image: none; width: 180px; height: 100%; margin-top: 25px;
}
.cate_tree dl {
	font: 12px/20px "宋体"; height: 39px; color: rgb(51, 51, 51); text-indent: 8px; overflow: hidden; font-size-adjust: none; font-stretch: normal;
}
.cate_tree dt {
	font: bold 14px/30px "microsfot yahei"; padding-top: 8px; margin-bottom: 8px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; position: relative; cursor: pointer; font-size-adjust: none; font-stretch: normal;
}
.cate_tree dt i {
	background: url("http://www.tonlion.com/themes/tonlion/images/tri.png") no-repeat -2px -6px; top: 18px; width: 5px; height: 8px; right: 11px; position: absolute;
}
.cate_tree dt a {
	color: rgb(51, 51, 51); text-decoration: none;
}
.cate_tree dl.on {
	height: auto; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.cate_tree dl.on dt i {
	background-position: 0px 0px; width: 8px; height: 5px; right: 10px;
}
.cate_tree span {
	color: rgb(153, 153, 153); padding-left: 4px;
}
.cate_tree h3 {
	background: url("http://www.tonlion.com/themes/tonlion/images/plus.png") no-repeat 10px; font: 12px/26px "宋体"; padding-left: 20px; cursor: pointer; font-size-adjust: none; font-stretch: normal;
}
.cate_tree h3 a {
	color: rgb(51, 51, 51);
}
.cate_tree ul {
	display: none;
}
.cate_tree li {
	line-height: 26px;
}
.cate_tree li a {
	color: rgb(102, 102, 102);
}
.cate_tree li.on a {
	color: rgb(200, 10, 40);
}
.cate_tree dd.on ul {
	display: block;
}
.cate_tree dd.on h3 {
	background: url("http://www.tonlion.com/themes/tonlion/images/minus.png") no-repeat 10px;
}
.cate_tree .no_child h3 {
	background: url("http://www.tonlion.com/themes/tonlion/images/plus_gray.png") no-repeat 10px; cursor: default;
}
.cate_tree .on.no_child h3 {
	background: url("http://www.tonlion.com/themes/tonlion/images/plus_gray.png") no-repeat 10px;
}
.cate_tree .on.no_child a {
	color: rgb(200, 10, 40);
}


.category_top10 {
	margin-top: 10px;
}
.category_top10 .middle {
	
}
.category_top10 .price {
	color: rgb(200, 10, 40); line-height: 25px; font-family: arial; font-size: 14px;
}
.category_top10 .sell_count {
	line-height: 25px; float: right;
}
.category_top10 .sell_count em {
	color: rgb(200, 10, 40); font-family: arial; font-size: 12px;
}
.category_top10 .category_tree_title {
	background: rgb(51, 51, 51); height: 25px; color: rgb(255, 255, 255); line-height: 25px; text-indent: 5px; font-size: 14px;
}
.category_top10 ul {
	border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(102, 102, 102); font-size: 12px; margin-top: 5px;
}
.category_top10 li {
	padding: 8px;
}
.category_top10 .paihang_nr {
	height: 35px; overflow: hidden; width:100%
}
.category_top10 .paihang_nr a {
	color: rgb(102, 102, 102);
}


/************/
#cate_right {
	width: 930px; float: right; margin-top:10px;
}
#cate_right .cate_gg {
	width: 100%; margin-top: 25px;
}
.productPrice {
	overflow: hidden; margin-bottom: 3px; display: block;
}
.productTitle {
	overflow: hidden; margin-bottom: 3px; display: block;
}

.tonlion_crumb {
	font: 12px/26px arial; margin: 20px 0px; color: rgb(51, 51, 51); text-indent: 5px; font-size-adjust: none; font-stretch: normal;
}
.tonlion_crumb a {
	color: rgb(51, 51, 51);
}
.tonlion_crumb code {
	font: 13px/normal "microsoft yahei"; padding: 0px 8px; font-size-adjust: none; font-stretch: normal;
}
.tonlion_crumb .search_s {
	background: url("http://www.tonlion.com/themes/tonlion/images/search_bg.png") no-repeat; width: 168px; height: 20px; margin-left: 20px; vertical-align: middle; display: inline-block; position: relative;
}
.tonlion_crumb .search_s label {
	width: 168px; height: 20px; color: rgb(204, 204, 204); line-height: 20px; display: inline-block; position: absolute; z-index: 1;
}
.tonlion_crumb .search_s input {
	border: 0px currentColor; border-image: none; left: 10px; width: 130px; height: 20px; line-height: 20px;
}
.tonlion_crumb .search_s input {
	background: url("data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==") repeat-x 0px 0px;
}
.tonlion_crumb .search_s input:focus {
	border: 0px currentColor; border-image: none;
}
.tonlion_crumb .search_s_btn {
	background: url("http://www.tonlion.com/themes/tonlion/images/search_s_btn.png") no-repeat 0px -2px; border: currentColor; border-image: none; top: 5px; width: 15px; height: 12px; right: 2px; display: block; position: absolute; cursor: pointer;
}
.tonlion_crumb .search_s_btn:hover {
	background-position: 0px -15px;
}
.tonlion_crumb .search_s_btn:active {
	background-position: 0px -15px;
}
.tonlion_crumb .lineset {
	background: url("http://www.tonlion.com/themes/tonlion/images/del.png") no-repeat right; padding: 2px 20px 2px 8px; border: 1px solid rgb(221, 221, 221); border-image: none; text-decoration: none;
}


.priceRange {
	width: 100px; height: 30px; float: left; position: relative;
}
.priceRange .pr_box {
	background: rgb(255, 255, 255); left: 4px; top: 3px; position: absolute;
}
.priceRange .pr_btn {
	left: 0px; top: 30px; width: 100px; height: 30px; overflow: hidden; display: none; position: absolute;
}
.priceRange .rangeNum {
	padding: 1px; border: 1px solid rgb(214, 214, 214); border-image: none; width: 37px; height: 18px; color: rgb(102, 102, 102);
}
.priceRange input:focus {
	border: 1px solid rgb(214, 214, 214); border-image: none;
}
.priceRange code {
	width: 13px; height: 22px; text-align: center; line-height: 22px; float: left; display: block;
}
.priceRange .input_notice {
	width: 40px; height: 22px; float: left; display: block;
}
.priceRange .input_notice label {
	top: 3px;
}
.priceRange .pr_btn button {
	margin: 3px 4px;
}
.priceRange button {
	background: url("http://www.tonlion.com/themes/tonlion/images/rangeBtn.png") no-repeat; border: currentColor; border-image: none; width: 39px; height: 18px; cursor: pointer;
}
.priceRange button.btn-yes {
	background-position: 0px -20px;
}
.priceRange_on {
	background: rgb(250, 250, 250); z-index: 10;
}
.priceRange_on .pr_btn {
	background: rgb(250, 250, 250); display: block;
}
.product .productPrice {
	margin: 0px 0px 6px; height: 30px; line-height: 40px; letter-spacing: normal;
}
.product .productPrice em {
	color: rgb(200, 10, 40); font-family: arial; font-size: 20px; font-weight: 400;
}
.product .productPrice em b {
	font-size: 14px; font-weight: 700; margin-right: 3px; vertical-align: middle;
}
.product .productPrice del {
	color: rgb(153, 153, 153); margin-top: 2px; margin-left: 5px; float: left;
}
 
.input_notice {
	position: relative;
}
.input_notice label {
	color: rgb(204, 204, 204); display: inline-block; position: absolute; z-index: 1;
}
.input_notice input {
	position: absolute; z-index: 2;
}
.input_notice input {
	background: url("data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==") repeat-x 0px 0px;
}

#sort_bar {
	border: 1px solid rgb(221, 221, 221); border-image: none; height: 30px;
}
#sort_bar .sort_set {
	width: 360px; overflow: hidden; float: left;
}
#sort_bar .sort_set li {
	width: 80px; height: 30px; text-align: center; line-height: 30px; text-indent: -10px; border-right-color: rgb(221, 221, 221); border-right-width: 1px; border-right-style: solid; float: left;
}
#sort_bar .sort_set i {
	background: url("http://www.tonlion.com/themes/tonlion/images/arrs.png") no-repeat center; top: 5px; width: 7px; height: 8px; right: -10px; display: block; position: absolute;
}
#sort_bar .sort_set a {
	line-height: 30px; position: relative;
}
#sort_bar .sort_set li:hover {
	background: rgb(250, 250, 250); color: rgb(186, 26, 22);
}
#sort_bar .sort_set li.selected {
	background: rgb(250, 250, 250); color: rgb(186, 26, 22);
}
#sort_bar .sort_set li.desc i {
	background-position: -1px -1px;
}
#sort_bar .sort_set li.desc:hover i {
	background-position: -9px -1px;
}
#sort_bar .sort_set li.selected.desc i {
	background-position: -9px -1px;
}
#sort_bar .sort_set li.asc i {
	background-position: -17px -1px;
}
#sort_bar .sort_set li.asc:hover i {
	background-position: -25px -1px;
}
#sort_bar .sort_set li.selected.asc i {
	background-position: -25px -1px;
}


#sort_bar .page_set {
	font: 12px/normal "arial"; padding: 6px 8px; color: rgb(102, 102, 102); float: right; position: relative; font-size-adjust: none; font-stretch: normal;
}
#sort_bar .arr {
	padding: 1px 3px 0px; border: 1px solid rgb(204, 204, 204); border-image: none; font-family: Simsun; font-weight: bold; margin-right: 5px; vertical-align: bottom; cursor: pointer;
}
#sort_bar .arr:hover {
	background: rgb(233, 233, 233);
}
.j_More {
	background: rgb(244, 244, 244); padding: 2px 14px 2px 4px; border: 1px solid rgb(220, 220, 220); border-image: none; line-height: 16px; margin-right: 10px;
}
#sort_bar .search_check {
	margin: 0px 14px; line-height: 30px; float: left;
}
#sort_bar .check {
	background: url("http://www.tonlion.com/themes/tonlion/images/check.png") no-repeat; margin: 10px 5px; width: 12px; height: 12px; float: left; display: block;
}
#sort_bar .checked.check {
	background-position: 0px -14px;
}

/***商品列表****/
.productGrid {
	padding-top: 10px;
}
.grid_wrap {
	width: 960px; height: auto;  
}

.product {
	margin: 0px; padding: 0px; line-height: 1.5; float: left; position: relative; z-index: 1;
}
.product-hover {
	overflow: visible; z-index: 2;
}
.product:hover {
	background: rgb(255, 255, 255); overflow: visible; z-index: 3;
}
.product-iWrap {
	margin: 0px; padding: 8px; border: 1px solid rgb(221, 221, 221); border-image: none; position: absolute; min-height: 98%; background-color: rgb(255, 255, 255);
}
.product-iWrap {
	font-size: 0px;
}
.product-iWrap * {
	font-size: 12px;
}
.product:hover .product-iWrap {
	padding: 7px 7px 0px; border: 2px solid rgb(200, 10, 40); transition:border-color 0.2s ease-in; border-image: none; height: auto; -webkit-transition: border-color .2s ease-in; -moz-transition: border-color .2s ease-in; -o-transition: border-color .2s ease-in;
}
.product-hover .product-iWrap {
	padding: 7px 7px 0px; border: 2px solid rgb(200, 10, 40); transition:border-color 0.2s ease-in; border-image: none; height: auto; -webkit-transition: border-color .2s ease-in; -moz-transition: border-color .2s ease-in; -o-transition: border-color .2s ease-in;
}
.product {
	overflow: visible; margin-right: 15px; margin-bottom: 20px;
}
.product {
	margin: 0px 13px 20px 0px; padding: 0px;  line-height: 1.5; float: left; position: relative; z-index: 1;
}
.product {
	width: 220px; height: 302px;
}
.product img {
	animation-duration: 0.7s; animation-fill-mode: both; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -o-animation-fill-mode: both; -webkit-animation-duration: .7s; -moz-animation-duration: .7s; -o-animation-duration: .7s;
}
.product:hover {
	animation-duration: 0.7s; animation-fill-mode: both; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -o-animation-fill-mode: both; -webkit-animation-duration: .7s; -moz-animation-duration: .7s; -o-animation-duration: .7s;
}
.product img:hover {
	transform-origin: center top; animation-name: swing; -webkit-transform-origin: top center; -moz-transform-origin: top center; -o-transform-origin: top center; -webkit-animation-name: swing; -moz-animation-name: swing; -o-animation-name: swing;
}
.product .product-iWrap {
	width: 202px; padding-bottom: 0px;
}
.productTitle {
	overflow: hidden; margin-bottom: 3px; display: block;height: 18px; font-size: 0px; display: block; -ms-word-break: break-all;color: rgb(102, 102, 102);
}

.productImg-wrap {
	width: 100%; height: 202px;
}
.productImg {
	width: 100%; height: 202px;
}
.productImg-wrap {
	padding-bottom: 5px;
}
.productImg-wrap div.productNew {
	display: none;
}
.productImg-wrap-hover .productNew s {
	line-height: 20px; display: block;
}
.productImg-wrap:hover .productNew s {
	line-height: 20px; display: block;
}
.productImg {
	text-align: center; vertical-align: middle; display: table-cell; _font-size: 0;
}
.productImg img {
	margin: 0px auto;width: 202px; height: 202px; display: block;
}
.productStatus {
	overflow: hidden; margin-bottom: 3px; display: block;color: rgb(167, 167, 167);
}
.productStatus em {
	color: rgb(196, 145, 115); font-weight: bolder;
}
.productStatus a {
	color: rgb(86, 131, 150);
}
.product .productStatus span.r {
	border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
.product .productStatus {
	border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(238, 238, 238) currentColor currentColor; border-image: none; width: 106%; height: 47px; color: rgb(153, 153, 153); margin-bottom: 0px; margin-left: -3%; position: relative;
}
.product .productStatus span {
	padding: 9px 5px; width: 45%; height: 29px; text-align: center; line-height: 15px; border-right-color: rgb(238, 238, 238); border-right-width: 1px; border-right-style: solid; float: left; display: inline-block;
}
.product .productStatus span.r {
	border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
.miniView .product .productStatus span {
	width: 30%;
}
.product .productStatus em {
	font-family: arial; font-size: 14px; font-weight: 700; margin-top: -8px;
}
.product .productStatus a {
	font-family: arial; font-size: 14px; font-weight: 700; margin-top: -8px;
}
.product .productStatus em {
	color: rgb(181, 124, 91);
}
.product .productStatus a {
	color: rgb(51, 136, 187);
}
.product .productStatus .ww-light {
	width: 18.5%; border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
/*****/
.search_page {
	font: 12px/1.5 tahoma, "microsoft yahei", "微软雅黑"; margin: 30px 0px; text-align: center; color: rgb(136, 136, 136); font-size-adjust: none; font-stretch: normal;
}
.search_page .page {
	margin: 0px 6px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 35px; height: 35px; line-height: 35px; display: inline-block;
}
.search_page strong {
	margin: 0px 6px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 35px; height: 35px; line-height: 35px; display: inline-block;
}
.search_page a:hover {
	text-decoration: none;
}
.search_page .current {
	border: 1px solid rgb(221, 221, 221); border-image: none; background-color: rgb(238, 238, 238);
}
.search_page .prev {
	background: rgb(238, 238, 238); width: 60px;
}
.search_page .next {
	background: rgb(238, 238, 238); width: 60px;
}
.search_page .last {
	width: 60px;
}
.search_page span {
	font: 14px/35px "宋体"; color: rgb(153, 153, 153); font-size-adjust: none; font-stretch: normal;
}
.pageBtn {
	background: url("http://www.tonlion.com/themes/tonlion/images/pageBtn.png") no-repeat; margin: 0px 8px; width: 46px; height: 20px; vertical-align: -5px; display: inline-block; cursor: pointer;
}

